<%- include ('../views/includes/head', {pagetitle: 'Upcomings Hunts'}) %> 
    <link rel="stylesheet" href="/CSS/stop_hunt.css">
  </head>
  <body>
    <%- include('../views/includes/header') %>
    <div class="center">
        <p>
            <h1>Hunt is STOPPED</h1>
            <br>
            <div class="center-buttons">
            <h2 style="text-align: center;">Thanks for Participating ❤️</h2>
            </div>
            <br>
        </p>
    </div>

    <%- include ('./includes/foot') %>