<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register your team</title>
</head>
<body>
    <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> 

        <div class="signin" id="signin"> 

            <div class="content"> 

                <div class="form" id ="form">
                    <div class="inputBox"> 
                        <input type="text" required id="team_name" name="teamname"> <i>Enter your team name</i> 
                    </div>
                    <label>Enter Team members name</label>
                    <div class="inputBox"> 
                        <input type="text" required id="name1" name="name1"> <i>Enter Name</i>
                        <input type="text" required id="name2" name="name1"> <i>Enter Name</i>
                        <input type="text" required id="name3" name="name1"> <i>Enter Name</i>
                    </div>
                    <label>Enter Team members phone number</label>
                    <div class="inputBox"> 
                        <input type="text" required id="name1" name="name1"> <i>Enter Phone Number</i>
                        <input type="text" required id="name2" name="name1"> <i>Enter Phone Number</i>
                        <input type="text" required id="name3" name="name1"> <i>Enter Phone Number</i>
                    </div>
                    <label>Enter Team members enrollement number</label>
                    <div class="inputBox"> 
                        <input type="text" required id="name1" name="name1"> <i>Enter Enrollement Number</i>
                        <input type="text" required id="name2" name="name1"> <i>Enter Enrollement Number</i>
                        <input type="text" required id="name3" name="name1"> <i>Enter Enrollement Number</i>
                    </div>
                    <label>Enter Team members email id</label>
                    <div class="inputBox"> 
                        <input type="text" required id="name1" name="name1"> <i>Enter Email Id</i>
                        <input type="text" required id="name2" name="name1"> <i>Enter Email Id</i>
                        <input type="text" required id="name3" name="name1"> <i>Enter Email Id</i>
                    </div>
                </div>
            </div> 
        
        </div> 
        
    </section>
</body>
</html>